body {
	font-family: "calibri";
    background: #FFF;
    color: #333;
}
h1 {
	text-align: center;
	color: #333;
	font-size:3em;
}
 
#img {
    height: 80px; 
    width: 80px; 
    border-radius: 50%;
	float:left;
	margin-left:10px;
	margin-right:10px;
	
}

ul {
    
    padding-left:5px;
	padding-right:5px;
	
	
	color:#FFF;

	
}

ul li {
    background: #219AFF;
    margin:2px 0;
    border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC
    list-style-position:inside;
    overflow:hidden;
    font-size: 1em;
    line-height: 10px;
	list-style-type:none;
	text-overflow:ellipsis;
	white-space:nowrap;
}

