body {
	font-family: "calibri";
    background: #FFF;
    
    padding-top: 10px;
    color: #333;
}
h1 {
	text-align: center;
	color: #333;
	font-size:3em;
}
 input {
	font-size:5em;
	color: #333;
	margin-left:5em;
	
}
#img {
    height: 150px; 
    width: 150px; 
    
}

ul {
    
    padding:5px;
	text-align:center;
	color:#FFF;

	
}

ul li {
    background: #219AFF;
    padding:5px 0 0 0px;
    margin:2px 0;
    border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC
    list-style-position:inside;
    overflow:hidden;
    font-size: 1em;
    line-height: 40px;
    list-style-type:none;
	
}

