
body{
  width:100%;
}
#inner-body{
  margin-left:10px;
  margin-right:10px
}
h1{
  text-align:center;
}
h2{
  text-align:center;
}

td 
{
    height: 50px; 
    width:50px;
}

#table1 td 
{
    text-align:center; 
    vertical-align:middle;
}


